<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Research</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<body>
    
    <form action="/submit" method="POST">
        <input type="text" name="countryName" placeholder="Search a country" required>
        <button type="submit">Search</button>
    </form>

    <% if (locals.countryName) { %>
        <div class="container">
            <h1><%= countryName %></h1>
            <img src="<%= flagLink %>" alt="Flag of <%= countryName %>">
            
            <p><strong>Capital:</strong> <%= capital %></p>
            <p><strong>Population:</strong> <%= population.toLocaleString() %></p>
            <p><strong>Continent:</strong> <%= continent %></p>
            <p><strong>Area:</strong> <%= area.toLocaleString() %> km²</p>
    </div>
    <% } else if (locals.errorMessage) { %>
        <h1> <%= errorMessage %> </h1>
    <% } else { %>
        <h1> Hello, which country are you searching for? </h1>
    <% } %>

</body>
</html>